language: node_js
node_js:
  - 10
env:
  global:
     - CYPRESS_DB_HOST=localhost
     - CYPRESS_DB_USER=travis
     - CYPRESS_DB_PASS=
     - CYPRESS_DB_DATABASE=test

sudo: required
services:
  - docker
  - postgresql
  - mysql
cache:
  directories:
    - ~/.npm
    - ~/.cache
install:
  - npm ci
before_script:
  - ifconfig
  - mysql -e 'CREATE DATABASE IF NOT EXISTS test;'
  - psql -c 'create database test;' -U postgres
  - docker pull hunterlong/statup
script:
  - docker run -it -d -p 8080:8080 --ipc=host hunterlong/statup
  - sleep 30
  - docker ps
  - npm run test